@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* @apply bg-blue-600 text-white */
    @apply sp-font-sans;
  }
}
@layer components {
  .sp-text-h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 700;
  }
  .sp-text-h2 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
  }
  .sp-text-h3 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 700;
  }
  .sp-text-h4 {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 700;
  }
  .sp-text-h5 {
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: 700;
  }
  .sp-text-title {
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 400;
  }
  .sp-text-body {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
  }
  .sp-text-body-sm {
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 400;
  }
  .sp-text-caption {
    font-size: 0.75rem;
    line-height: 1.5;
    font-weight: 400;
  }
}

:root {
  --animate-delay: 0.2s;
}
.flexCenter{
  @apply sp-flex sp-justify-center sp-items-center
}

